@import "./libs/vars.scss";
@import "./libs/font.scss";
@import "./libs/animations.scss";
@import "./libs/responcive.scss";

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: unset;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: $background;
  position: relative;
  overflow-x: hidden;
}

.animations {
  .header-homepage .right {
    top: 100vh;
    opacity: 0;
    animation: header-right-appear 1s 3s ease-out forwards;
  }
  .desktop-navbar {
    top: -300px;
    animation: nav-openning 0.7s 3.5s ease-in-out forwards;
  }
  .projets-homepage-container {
    opacity: 0;
    animation: opacityAppear 1s 4.5s forwards;
  }
}

.section-title {
  font-size: 64px;
  text-transform: capitalize;
  gap: 20px;
  color: black;

  span {
    color: white;
    font-family: Bugaki;
    font-size: 60px;
    padding: 5px 20px;
    border-radius: 30px;
  }
}

// Navbar {
.desktop-navbar,
.desktop-navbar-active {
  z-index: 999;
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 10px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: rgba($color: $background, $alpha: 0.6);

  .logo-container {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 0.3s;

    img {
      width: 100%;
    }

    &:hover {
      scale: 1.1;
    }
  }

  .navbar-onglet-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-left: 10%;

    .onglet {
      transition: color 0.3s;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0%;
        height: 2px;
        transition: width 0.3s;
        border-radius: 15px;
      }

      &:hover::after {
        width: 80%;
      }

      &-rose::after {
        background: $rose;
      }

      &-orange::after {
        background: $orange;
      }

      &-active {
        color: rgba($color: black, $alpha: 0.5);
      }
    }

    .contact {
      padding: 10px 15px;
      border-radius: 15px;
      border: 1px solid rgba($color: grey, $alpha: 0.3);
      transition: background 0.3s;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: gap 0.3s;

        svg {
          width: 0px;
          opacity: 0;
          transition: 0.3s;
          transition-property: opacity, width;
        }
      }

      &:hover {
        background: $violet;
        color: $background;

        a {
          gap: 20px;
        }

        svg {
          opacity: 1;
          width: 15px;
        }

        &::after {
          width: 0;
        }
      }
    }
  }
}

.desktop-navbar-active {
  transition: all 0.5s;
  position: fixed;
  background: rgba($color: $background, $alpha: 0.6);
  width: 100vw;
  backdrop-filter: blur(5px);
  top: 0 !important;
  left: 0;
  transform: inherit;
  border-radius: 0 0 15px 15px;
}

// }

// Homepage {

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-homepage {
  width: 100%;
  min-height: 95vh;
  padding: 150px 5vw 0 5vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -30%;
    right: -20%;
    width: 800px;
    height: 800px;
    background: rgb(248, 116, 216);
    background: radial-gradient(
      circle,
      rgba(248, 116, 216, 0.5) 0%,
      rgba(2, 0, 36, 0) 70%
    );
    border-radius: 50%;
    z-index: -10;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -15%;
    left: -20%;
    width: 800px;
    height: 800px;
    background: rgb(255, 133, 43);
    background: radial-gradient(
      circle,
      rgba(255, 133, 43, 0.5) 0%,
      rgba(2, 0, 36, 0) 70%
    );
    border-radius: 50%;
    z-index: -1;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;

    .header-homepage-title {
      font-size: 5rem;

      .header-special-word {
        color: $rose;
        font-size: 73px;
        font-family: Bugaki;
      }

      .header-point {
        color: $rose;
      }
    }

    .header-homepage-button {
      position: relative;
      padding: 10px 15px;
      border-radius: 15px;
      background: $background;
      color: $rose;
      border: 0;
      scale: 1.2;
      left: 18px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.05rem;
      transition: 0.3s;
      scale: 0;
      @include customBounce(1.2, "header-button-bounce");
      animation: header-button-bounce 0.3s 2s forwards;
      transition-property: background, scale;

      .header-homepage-button-icon {
        width: 0px;
        transition: width 0.3s;
      }

      &:hover {
        background: $rose;
        scale: 1.25;
        color: $background;
        box-shadow: $rose 0px 7px 29px 0px;

        .header-homepage-button-icon {
          width: 30px;
        }
      }
    }

    .left-usefull-information {
      display: flex;
      align-items: center;
      gap: 30px;

      li {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        &:nth-child(2) .text-information {
          width: 50%;
        }

        // &:nth-child(1) {
        //   scale: 0;
        //   @include customBounce(1, "header-information-1");
        //   animation: header-information-1 0.5s 2.4s forwards ease-out;
        // }

        // &:nth-child(2) {
        //   scale: 0;
        //   @include customBounce(1, "header-information-2");
        //   animation: header-information-2 0.5s 2.7s forwards ease-out;
        // }

        // &:nth-child(3) {
        //   scale: 0;
        //   @include customBounce(1, "header-information-3");
        //   animation: header-information-3 0.5s 3s forwards ease-out;
        // }

        .number-information {
          font-size: 40px;
          font-weight: bold;
        }

        .text-information {
          width: 75%;
        }
      }
    }
  }

  .right {
    position: relative;
    z-index: -1;
    scale: 1;
    transition: 0.6s;
    transition-property: opacity, top;
    top: 0vh;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 250%;
      height: 250%;
      transform: translate(-55%, -45%);
    }

    .right-informations {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba($color: white, $alpha: 0.6);
      backdrop-filter: blur(5px);
      padding: 20px 20px 0 20px;
      border-radius: 35px;

      p {
        font-size: 0.9rem;
      }
    }
  }
}

.projets-homepage-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 50px;
  transition: opacity 1s;

  .section-title span {
    background: $rose;
  }

  .projets-homepage {
    width: 100%;
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    gap: 50px;
  }
}

// }

// Projet
.projet-component {
  width: 100%;
  max-width: 50vw;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  cursor: pointer;
  min-height: 50vh;

  .view-follow {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
    backdrop-filter: blur(5px);
    text-transform: uppercase;
    opacity: 0;
    border: 2px solid white;
    color: white;
    font-size: 1.5rem;
    transition: opacity 0.2s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: -1;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: 100%;
    transition: transform 0.3s;
  }

  &:hover {
    cursor: none;

    .hover-projet {
      opacity: 1;
    }

    img {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.categories-homepage-container {
  min-height: 70vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  margin-bottom: 80px;

  &::after {
    content: "";
    position: absolute;
    top: -120px;
    right: -19vw;
    width: 800px;
    height: 800px;
    background: rgb(255, 133, 43);
    background: radial-gradient(
      circle,
      rgba(255, 133, 43, 0.5) 0%,
      rgba(2, 0, 36, 0) 70%
    );
    border-radius: 50%;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -17%;
    left: -20%;
    width: 800px;
    height: 800px;
    background: rgb(248, 116, 216);
    background: radial-gradient(
      circle,
      rgba(248, 116, 216, 0.5) 0%,
      rgba(2, 0, 36, 0) 70%
    );
    border-radius: 50%;
    z-index: -1;
  }

  .slider-container {
    position: relative;
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    .slider {
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        text-transform: uppercase;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 1px black;
        font-size: 100px;
      }
    }
  }

  .left {
    @include infiniteScrollLeft(20px, "projet-left-scroll");
    animation: projet-left-scroll 25s infinite linear;
  }

  .right {
    @include infiniteScrollRight(20px, "projet-right-scroll");
    animation: projet-right-scroll 25s infinite linear;
  }

  .categories-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &:hover {
      .categorie-homepage {
        filter: blur(3px);
      }

      .categorie-homepage:hover {
        filter: blur(0px);
      }
    }

    .categorie-homepage {
      font-size: 80px;
      cursor: pointer;
      text-transform: uppercase;
      position: relative;
      font-family: "Margin DEMO";
      position: relative;
      filter: blur(0px);
      -webkit-filter: blur(0px);
      transition: filter 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:nth-child(1) {
        color: $violet;

        &::before {
          background: $orange;
        }
      }

      &:nth-child(2) {
        color: $orange;

        &::before {
          background: $rose;
        }
      }

      &:nth-child(3) {
        color: $rose;

        &::before {
          background: $violet;
        }
      }

      // &::before {
      //   content: "";
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   width: 0%;
      //   height: 1px;
      //   transition: width 0.3s;
      // }

      &:hover::before {
        width: 100%;
      }
    }
  }
}

.competences-homepage-container {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  gap: 90px;
  width: 100%;

  .section-title {
    font-size: 50px;

    span {
      font-size: 50px;
      background: $violet;
    }
  }
  .competences-homepage {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 90px;
      overflow: hidden;
      gap: 40px;
      scale: 1;
      transition: 0.3s;
      transition-property: height, scale;

      &:hover {
        height: 130px;
        scale: 1.2;

        img {
          opacity: 1;
        }
      }

      img {
        max-width: 80px;
        max-height: 60px;
        opacity: 0.5;
        transition: opacity 0.3s;
      }
    }
  }
}

.reviews-homepage {
  padding: 0 5vw;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  height: calc(70vh * 3 + 700px * 2 + 200px);
  gap: 200px;
  overflow: visible;

  .review-container {
    position: sticky;
    top: 120px;
  }

  .review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
    width: 100%;
    min-width: 90vw;
    border: 1px solid #dad8d8;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .review-information {
      display: flex;
      align-items: center;
      padding: 20px;
      gap: 10px;

      img {
        width: 50px;
        border-radius: 50%;
      }

      .stars-container {
        display: flex;
        align-items: center;
        gap: 3px;

        svg {
          color: #f9d978;
        }
      }
    }

    .review-message-container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100%;
      font-size: 1.5rem;
      text-align: center;
      gap: 10px;

      .review-message {
        position: relative;

        &::after {
          content: '"';
          position: absolute;
          top: -100px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 100px;
          color: rgba($color: #000000, $alpha: 0.7);
          font-family: "Margin DEMO";
        }
      }
    }

    .review-personne-information {
      color: rgba($color: #000000, $alpha: 0.7);
      font-size: 14px;
      text-align: center;
      font-weight: bold;

      .personne {
        font-size: 30px;
        text-transform: uppercase;
      }
    }
  }
}

// }

// Diplomes {
.diplomes-homepage-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 100px 5vw;

  .section-title {
    font-family: "Poppins";
    text-transform: inherit;
    font-size: 50px;

    span {
      font-family: Poppins;
      background: $orange;
      padding: 3px 10px !important;
    }
  }

  .diplomes-homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;

    .diplome {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba($color: grey, $alpha: 0.3);
      padding: 15px 5px;
      overflow: hidden;
      transition: height 0.3s;

      .diplome-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .active-diplome,
        .desactive-diplome {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          position: relative;
          transition: rotate 0.3s;

          &::after {
            content: "";
            position: absolute;
            bottom: 23px;
            right: 13px;
            transform: translateY(-50%);
            width: 15px;
            height: 3px;
            border-radius: 20px 0 0 20px;
            background: white;
            transform: rotate(135deg);
          }

          &::before {
            content: "";
            position: absolute;
            bottom: 23px;
            left: 13px;
            transform: translateY(-50%);
            width: 15px;
            height: 3px;
            border-radius: 20px 0 0 20px;
            background: white;
            transform: rotate(45deg);
          }
        }

        .active-diplome {
          rotate: 0deg;
        }

        .desactive-diplome {
          rotate: 180deg;
        }
      }

      .diplome-description {
        width: 95%;
      }
    }
  }
}
// }

// Footer {
footer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding-top: 50px;
  gap: 40px;

  p {
    font-size: 25px;
  }

  .special-word {
    color: $rose;
  }

  .footer-slider-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;

    .footer-slider {
      display: flex;
      gap: 10px;
      @include infiniteScrollRight(10px, "footer-scroll");
      animation-name: footer-scroll;
      animation-duration: 65s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      li {
        white-space: nowrap;
        font-size: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: color 0.3s;

        &:hover .footer-element-arrow {
          transform: rotate(0deg);
        }

        .footer-element-arrow {
          border-box: inherit;
          padding: 10px 25px;
          border-radius: 50%;
          background: black;
          color: white;
          font-size: 2.5rem;
          transform: rotate(-20deg);
          transition: 0.3s;
          transition-property: transform, background;
        }
      }

      .future-orange:hover {
        color: $orange;

        .footer-element-arrow {
          background: $orange;
        }
      }

      .future-rose:hover {
        color: $rose;

        .footer-element-arrow {
          background: $rose;
        }
      }

      .future-violet:hover {
        color: $violet;

        .footer-element-arrow {
          background: $violet;
        }
      }
    }
  }

  .footer-title {
    margin: -70px 0;
    font-size: 12.6vw;
    white-space: nowrap;
    -webkit-text-stroke: 1px black;
    color: transparent;
  }

  .footer-social-media {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px 30px;
    border-top: 1px solid black;

    .social-media {
      overflow: hidden;
      height: 30px;

      &:hover .social-media-container {
        transform: translateY(-50%);
      }

      .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        transition: transform 0.3s;

        span {
          font-size: 20px;
        }
      }
    }
  }
}
// }

// Profil {

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  padding: 0 5vw;

  .about {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .left {
      position: relative;
      scale: 1.2;
      animation: profil-header 1s forwards ease;
      left: 2%;

      &::before {
        content: "";
        position: absolute;
        top: -60%;
        right: -60%;
        width: 800px;
        height: 800px;
        background: rgb(248, 116, 216);
        background: radial-gradient(
          circle,
          rgba(248, 116, 216, 0.5) 0%,
          rgba(2, 0, 36, 0) 70%
        );
        border-radius: 50%;
        z-index: -1;
      }

      .left-informations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        background: rgba($color: $background, $alpha: 0.4);
        backdrop-filter: blur(5px);
        padding: 30px;
        border-radius: 35px;
        min-width: 200px;
        min-height: 300px;
        font-weight: bold;

        .image-container {
          width: 100%;
          height: 150px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          background: red;
          border-radius: 20px;
          background: rgba($color: #fff, $alpha: 0.5);

          img {
            width: 53%;
          }
        }

        .button-container {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          gap: 25px;

          .boutton-about {
            width: 100%;
            font-size: 0.8rem;
            padding: 10px 15px;
            border: 0;
            border-radius: 20px;
            color: white;
            border: 1px solid transparent;
            transition: 0.3s;
            transition-property: border-color, color, background;
            display: flex;
            align-items: center;
            gap: 10px;

            svg {
              width: 0;
              opacity: 0;
              transition: 0.3s;
              transition-property: width, opacity;
            }

            &:hover svg {
              opacity: 1;
              width: 15px;
            }
          }

          .button-contact {
            background: $rose;

            &:hover {
              border-color: $rose;
              color: $background;
              background: rgba($color: $rose, $alpha: 0.5);
            }
          }

          .button-linkedin {
            background: #000;

            &:hover {
              border-color: black;
              color: $background;
              background: rgba($color: #000000, $alpha: 0.5);
            }
          }
        }
      }
    }
  }

  .container-competances-section {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .profil-title-header {
      position: absolute;
      font-size: 20vw;
      z-index: -50;
      left: 30vw;
      opacity: 0;
      transition: opacity 0.4s;
    }

    .container-competances {
      scale: 0;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      display: flex;
      gap: 10px;
      backdrop-filter: blur(10px);
      border: 1px solid rgba($color: black, $alpha: 0.4);

      .competance {
        height: 50px;
        width: max-content;
        border-radius: 50px;
        height: fit-content;
        text-align: center;
        padding: 10px 20px;
        font-size: 1.5rem;
        position: absolute;
        color: $background;
        transform: translate(-50%, -50%);

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50px;
          backdrop-filter: blur(2px);
          opacity: 0;
          transition: opacity 0.3s;
        }

        &-active {
          &::after {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}

.vision-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;

  .scroll-title-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    rotate: 2deg;
    top: -5vh;

    .scroll-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 40px;
      @include infiniteScrollLeft(40px, "vision-scroll");
      animation: vision-scroll 12s infinite linear;

      p {
        font-size: 80px;
        font-weight: bold;
        color: transparent;
        width: max-width;
        -webkit-text-stroke: 1px black;
        clear: both;
        display: inline-block;
        white-space: nowrap;
      }
    }
  }

  .vision-item-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-bottom: 200px;
    width: 100%;

    .design {
      &::after {
        background: radial-gradient(
          circle,
          rgba($color: $rose, $alpha: 0.5) 0%,
          rgba(2, 0, 36, 0) 70%
        ) !important;
      }
    }

    .communication {
      &::after {
        right: -19vw;
        left: unset !important;
        background: radial-gradient(
          circle,
          rgba($color: $orange, $alpha: 0.5) 0%,
          rgba(2, 0, 36, 0) 70%
        ) !important;
      }

      .right-informations {
        align-items: flex-end !important;
        padding-right: 35px;
        padding-left: 0 !important;
      }

      .right-image {
        transform: scaleX(-1);
      }
    }

    .vision-top {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 100px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -30%;
        left: -19vw;
        width: 800px;
        height: 800px;
        background: rgb(255, 133, 43);
        background: radial-gradient(
          circle,
          rgba($color: $violet, $alpha: 0.5) 0%,
          rgba(2, 0, 36, 0) 70%
        );
        border-radius: 50%;
        z-index: -1;
      }

      .right {
        .right-informations {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          background: rgba($color: white, $alpha: 0.6);
          backdrop-filter: blur(5px);
          border-radius: 35px;
          padding-left: 35px;
          width: 250px;
          height: 250px;

          img {
            width: 75%;
          }
        }
      }

      .left {
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
          font-size: 2rem;
          font-weight: bold;
          font-family: "Poppins";
        }

        p {
          width: 97%;
          font-size: 1rem;
        }
      }
    }

    .communication-middle .vision-middle-container {
      &:first-child {
        h2 {
          color: $rose !important;
        }
      }

      &:last-child {
        h2 {
          color: $violet !important;
        }
      }
    }

    .vision-middle {
      display: grid;
      grid: auto / 1fr 1fr 1fr;
      align-items: flex-start;
      gap: 30px;

      .vision-middle-container {
        &:first-child {
          h2 {
            color: $violet;
          }
        }

        &:last-child {
          h2 {
            color: $rose;
          }
        }
      }

      .informations {
        display: flex;
        align-items: center;
        gap: 20px;

        h2 {
          font-size: 5rem;
          color: $orange;
        }

        hr {
          border-bottom: 0;
          border-left: 0;
          border-right: 0;
          border-top: 3px dashed rgba($color: grey, $alpha: 0.3);
          background: transparent;
          width: 100%;
        }
      }

      .information-text {
        padding-top: 15px;
        width: 90%;
        color: rgba($color: grey, $alpha: 0.7);
      }
    }

    .vision-text {
      width: 80%;
      padding-top: 30px;
      font-size: 30px;
    }

    .vision-bottom-container {
      width: 80%;
      display: grid;
      grid: auto / 1fr 1fr 1fr;

      .vision-competances {
        display: flex;
        flex-direction: column;
        gap: 5px;

        li {
          color: rgba($color: grey, $alpha: 0.7);
          font-size: 1.1rem;

          &:first-child {
            color: black;
          }
        }
      }
    }
  }
}

// }

// Projet {

.projets-page-container {
  padding: 200px 5vw 70px 5vw;
  width: 100vw;
  min-height: 80vh;

  .projets-page-title {
    font-size: 2.5rem;
  }

  .projets-page {
    padding: 50px 0;
    display: grid;
    grid: auto / 1fr 1fr;
    gap: 50px;

    no-result {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.2rem;
    }
  }
}

.projet-page {
  padding-top: 100px;
  width: 100vw;

  .projet-header {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    padding: 40px 5vw;
    background: $background;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    animation: projet-header-appear 1s 0.5s forwards;
    top: -1000px;

    .projet-title-container {
      h1 {
        font-size: 70px;
        text-transform: uppercase;
      }

      p {
        width: 80%;
        font-size: 25px;
      }
    }

    .projet-informations {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;

      .projet-page-tags {
        display: flex;
        align-items: flex-start;
        gap: 100px;

        .projet-tag {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .tag-title {
            font-size: 30px;
          }
        }
      }

      a {
        font-size: 20px;
        text-decoration: underline;
      }
    }
  }

  .projet-presentation-image-container {
    width: 100vw;
    height: 90vh;
    position: relative;
    overflow: hidden;
    margin-top: -60px;
    z-index: -1;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: unset;
      height: 150%;
      transform: translate(-50%, -50%);
      animation: opacityAppear 0.7s 1.5s forwards;
      opacity: 0;
    }
  }

  .projet-informations-container {
    position: relative;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: $background;
    margin-top: -60px;
    padding: 60px 5vw;
    display: flex;
    flex-direction: column;
    gap: 100px;

    .projet-informations {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 70px;

      .projet-information-title {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .eclipse {
          position: absolute;
          width: 900px;
          height: 900px;
          top: -50px;

          &-left {
            left: -5vw;

            &::after {
              right: 50%;
            }
          }

          &-right {
            right: -5vw;

            &::after {
              left: 50%;
            }
          }

          &-orange::after {
            background: rgb(255, 133, 43);
            background: radial-gradient(
              circle,
              rgba(255, 133, 43, 0.6) 30%,
              rgba(2, 0, 36, 0) 70%
            );
          }

          &-rose::after {
            background: rgb(255, 133, 43);
            background: radial-gradient(
              circle,
              rgba(248, 116, 216, 0.5) 0%,
              rgba(2, 0, 36, 0) 70%
            );
          }

          &-violet::after {
            background: rgb(255, 133, 43);
            background: radial-gradient(
              circle,
              rgba(185, 146, 249, 0.5) 0%,
              rgba(2, 0, 36, 0) 70%
            );
          }

          &::after {
            content: "";
            position: absolute;
            top: 0%;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        h3 {
          z-index: 10;
          font-size: 40px;
          text-transform: uppercase;
        }

        p {
          font-size: 20px;
          width: 40%;
        }
      }

      .image-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;

        .projet-information-images {
          display: grid;
          gap: 30px;

          li {
            width: 100%;
            height: 95vh;
            border-radius: 50px;
            overflow: hidden;
            position: relative;

            img {
              width: 100%;
              height: 110%;
              object-fit: cover;
              position: absolute;
              top: 50%;
              left: 50%;
            }

            .split-element {
              width: 120%;
            }
          }
        }
      }
    }
  }

  .next-projet {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    margin-top: 20px;
    padding: 0 5vw;

    .next-projet-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      h3 {
        font-size: 40px;
        text-transform: uppercase;
      }

      p {
        width: 60%;
        font-size: 25px;
      }
    }

    .next-projet-container {
      display: grid;
      grid: auto / 1fr 1fr;
      align-items: center;
      gap: 30px;
      width: 100%;
    }
  }
}

// }

// Projet Article {

.projet-article {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  opacity: 0;

  h2 {
    font-size: 35px;
  }

  .projet-image-container {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    border-radius: 30px;

    &:hover {
      cursor: none;
    }

    &:hover img {
      height: 105%;
    }

    .view-follow {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      pointer-events: none;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 90;
      backdrop-filter: blur(5px);
      text-transform: uppercase;
      opacity: 0;
      border: 2px solid white;
      color: white;
      font-size: 1.5rem;
      transition: opacity 0.2s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        z-index: -1;
      }
    }

    img {
      transition: 0.3s height ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
    }
  }

  .projet-article-tags-container {
    display: flex;
    align-items: center;
    gap: 20px;

    .projet-tag {
      padding: 5px 10px;
      border: 1px solid black;
      border-radius: 20px;
    }
  }
}

// }

// Loader {
.loader {
  width: 100vw;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  gap: 10px;
  color: black;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: -40%;
    right: -30%;
    width: 900px;
    height: 900px;
    background: rgb(255, 133, 43);
    background: radial-gradient(
      circle,
      rgba(255, 133, 43, 0.6) 30%,
      rgba(2, 0, 36, 0) 70%
    );
    border-radius: 50%;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -40%;
    left: -30%;
    width: 900px;
    height: 900px;
    background: rgb(248, 116, 216);
    background: radial-gradient(
      circle,
      rgba(248, 116, 216, 0.7) 30%,
      rgba(2, 0, 36, 0) 70%
    );
    border-radius: 50%;
  }

  img {
    width: 15%;
    animation: loadingImg infinite 3s;
  }
}
// }

// Animations {
.letter-animation-container {
  width: fit-content;
  position: relative;
  overflow: hidden;
  display: inline-block;

  .letter-animation {
    position: relative;
    display: inline-block;
  }
}
// }

.connection-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  background: $background;

  input {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid black;
  }

  .validate {
    width: 12%;
    padding: 10px 0;
    font-size: 1rem;
    background: black;
    color: white;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background, color;

    &:hover {
      background: white;
      color: black;
    }
  }
}

.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  a {
    font-size: 1.3rem;
    text-decoration: underline;
  }
}

.dashboard-projets {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 0 5vw;

  li {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      &::after {
        opacity: 1;
      }

      .projet-modifications {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: black, $alpha: 0.3);
      z-index: -1;
      opacity: 0;
      transition: opacity 0.4s;
    }

    img {
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .projet-modifications {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      color: white;
      opacity: 0;
      transition: opacity 0.4s;

      button {
        padding: 7px 30px;
        font-size: 1rem;
        background: black;
        color: white;
        border-radius: 30px;
        border: 1px solid black;
        cursor: pointer;
        transition: 0.3s;
        transition-property: background, color;

        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }

  .new {
    width: 100%;
    height: 500px;
    background: rgba($color: grey, $alpha: 0.5);
    border-radius: 50px;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 10px;
      background: white;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 80px;
      height: 10px;
      background: white;
    }
  }
}

.dashboard-new-projet,
.dashboard-new-competences {
  padding-top: 100px;
  padding-left: 5vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
  }

  label {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: 0.8rem;
    }
  }

  input {
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
  }

  button {
    padding: 7px 30px;
    font-size: 1rem;
    background: black;
    color: white;
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background, color;

    &:hover {
      background: white;
      color: black;
    }
  }
}

.dashboard-competances {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 50px 5vw 0 5vw;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 400px;

    .projet-modifications {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .new {
    width: 100%;
    height: 400px;
    background: rgba($color: grey, $alpha: 0.5);
    border-radius: 50px;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 10px;
      background: white;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 80px;
      height: 10px;
      background: white;
    }
  }
}

.dashboard-reviews {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid: auto / 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 50px 5vw 0 5vw;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 200px;
    width: 200px;

    img {
      width: 100%;
    }

    .competance-modifications {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .new {
    width: 100%;
    height: 400px;
    background: rgba($color: grey, $alpha: 0.5);
    border-radius: 50px;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 10px;
      background: white;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 80px;
      height: 10px;
      background: white;
    }
  }

  .diplome-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
